@model CMS.Models.ViewModels.RidePathViewModel

@{
    ViewData["Title"] = "AddLocation";
}



<div style="background-color:steelblue;" id="background-video" class="hero">
    <img src="~/Images/hero-bg.png" />
</div>

<div class="col-lg-5 order-1 order-lg-2 hero-img container" data-aos="zoom-out" style="float:left">

    <div class="card bg-white text-black align-content-center p-0" style="border-radius: 25px; height:30Vw;width: 30Vw;margin-top:50px">

        <div class="col-md-4 p-5" style="margin-left:30px">
            <form asp-action="AddLocation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <b><label asp-for="Source" class="control-label"></label></b>
                    <input asp-for="Source" class="form-control" style="width:18vw;" />
                    <span asp-validation-for="Source" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>
                        <label asp-for="Destination" class="control-label"></label>
                    </b>
                    <input style="width: 18vw;" asp-for="Destination" class="form-control" />
                    <span asp-validation-for="Destination" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>
                        <label asp-for="Cost" class="control-label"></label>
                    </b>
                    <input asp-for="Cost" style="width:18vw;" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
                <div class="form-group p-3" style="margin-left:40px;margin-top:30px">
                    <input type="submit" value="Create" class="btn btn-primary" style="height:30px;width:120px"/>
                </div>
            </form>
        </div>


    </div>
</div>
<div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" style="float:right">
    <img src="~/Images/admin1.png" class="img-fluid mb-3 mb-lg-0" alt="" style="margin-top:50px;height:40em;width:100em">
</div>

