
@{
    ViewData["Title"] = "Index";
}

<div style="background-color:steelblue;" id="background-video" class="hero">
    <img src="~/Images/hero-bg.png" />
</div>

<div class="col-lg-5 order-1 order-lg-2 hero-img container" data-aos="zoom-out" style="float:left">
    <h1 data-aos="fade-up" class="text-white fw-bolder" style="font-size:5em;margin-top:150px">The art of business is in the details.</h1>
    
</div>
<div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" style="float:right">
    <img src="~/Images/admin1.png" class="img-fluid mb-3 mb-lg-0" alt="" style="margin-top:70px;height:40em;width:100em">
</div>

